/* CSS for screens that are 320 pixels or less will be put in this section */
@font-face {
    font-family: "hacker";
    src: url("hacker.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "hacker";
    text-transform: uppercase;
    letter-spacing: 4px;
}

body {
    display: grid;
    grid-template-rows: 15.5vh auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

    height: calc(100vh - 8em);
    color: rgba(255, 255, 255, 0.75);
    background-color: rgb(25, 25, 25);
}

header{
    grid-area: header;
    display: grid;
    align-content: center;
    background-color: rgb(25, 25, 25);
    z-index: 500 !important;
    position: -webkit-sticky;
    position:fixed;
    top: 0;
    width:100vw;
    padding-left: 25px;
    padding-top: 10px;
}

.course-header{
    /* position: absolute;
    top: 4vh;
    left: 3vw;
    display: grid;
    place-content: center;
    place-items: center;
    grid-auto-flow: column;
    
    color: white; */
    display: flex;
    align-items: center;
    /* margin: 50px; */
    color: white;
  }

main{
    grid-area: main;
    display: grid;
    place-items: center;
    place-content: center;
    grid-auto-flow: column;
}

article{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: auto auto auto auto;
    /* margin: 22px; */
    place-content: space-between;
}

@media (max-width: 1080px) {
    article{
        display: grid;
        grid-auto-flow: row;
        justify-items: stretch;
        justify-content: stretch;

    }
    .open-btn{
        display: none;

    }
    .course-subject{
        padding: 10px;
        background-color:rgb(0, 187, 0);
        border:none;
        width: 80vw;
        text-align: center;
    }
    section{
        border: 0;

    }
    #subject-image{
        display:none;
    }
    
    #tag-line {
        font-size: 2vh;
    }


  }

@media (min-width: 1080px) {
    section{
        /* margin-top: 20px; */
        border: 1px solid rgb(0, 187, 0);
        width: 16vw;
        border-radius: 25px;
    }
    #tag-line {
        font-size: 1.8vh;
    }
    article{
        grid-gap: 25px;    
    }
}

.course{
    display: grid;
    grid-auto-flow: row;
    place-content: center;
    place-items: center;
    grid-gap: 14px;
    padding: 14px;
}

.course-subject {
    color: white;
}

.open-btn{
    padding: 10px;
    background-color:rgb(0, 187, 0);
    border:none;
    font-size: 1.6vh;
}
a{
    text-decoration: none;
    color: black;
}

#subject-image {
    width:150px;
    height: auto;
}

footer{
    grid-area: footer;

    background-color: rgb(0, 187, 0);
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 5vh;
    font-size: 2.5vh;
    align-items: center;
    line-height: 3vh;
    display: grid;
    place-content: center;
    
}



/* ************************************************************************** */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
    min-height: 100%;
    overflow: scroll;
}

.css-typing p {
    text-align: center;
    border-right: 0.15em solid whitesmoke;
    white-space: nowrap;
    overflow: hidden;
}

.css-typing p:nth-child(1) {
    width: 0ch;
    -webkit-animation: type 0.5s steps(6, end);
    animation: type 0.5s steps(6, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
    width: 7.3em;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
    animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0ch;
    }

    99.9% {
        border-right: 0.15em solid orange;
    }

    100% {
        width: 3ch;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0ch;
    }

    99.9% {
        border-right: 0.15em solid orange;
    }

    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0ch;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: 0.15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0ch;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: 0.15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0ch;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0ch;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}


@media only screen and (max-width: 720px) {
    nav>button {
        /*makes the button visible*/
        display: block;
        /*since we are here, we can style it a little bit!*/
        /* padding: 2vw; */
        font-size: 2.5vh;
        background-color: rgb(0, 187, 0);
        border: none;
        /*outline none removes the default blue border that appears anytime you click on the button*/
        outline: none;
        cursor: pointer;
        align-self: flex-end;
    }

    nav {
        display: flex;
        flex-direction: column;
        float: none;
    }

    nav>a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }